/*! Oruga v0.3.0-dev | MIT License | github.com/oruga-ui/oruga */
@charset "UTF-8";
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

/**
 * Vue Transitions
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out;
}

.fade-enter,
.fade-enter-from .fade-leave-to {
  opacity: 0;
}

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity 150ms ease-out;
}
.zoom-in-enter-active .animation-content,
.zoom-in-enter-active .animation-content,
.zoom-in-leave-active .animation-content,
.zoom-in-leave-active .animation-content {
  transition: transform 150ms ease-out;
}

.zoom-in-enter,
.zoom-in-enter-from,
.zoom-in-leave-active {
  opacity: 0;
}
.zoom-in-enter .animation-content,
.zoom-in-enter .animation-content,
.zoom-in-enter-from .animation-content,
.zoom-in-enter-from .animation-content,
.zoom-in-leave-active .animation-content,
.zoom-in-leave-active .animation-content {
  transform: scale(0.95);
}

.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity 150ms ease-out;
}
.zoom-out-enter-active .animation-content,
.zoom-out-enter-active .animation-content,
.zoom-out-leave-active .animation-content,
.zoom-out-leave-active .animation-content {
  transition: transform 150ms ease-out;
}

.zoom-out-enter,
.zoom-out-enter-from,
.zoom-out-leave-active {
  opacity: 0;
}
.zoom-out-enter .animation-content,
.zoom-out-enter .animation-content,
.zoom-out-enter-from .animation-content,
.zoom-out-enter-from .animation-content,
.zoom-out-leave-active .animation-content,
.zoom-out-leave-active .animation-content {
  transform: scale(1.05);
}

.slide-next-enter-active,
.slide-next-leave-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-prev-leave-to,
.slide-next-enter {
  transform: translate3d(-100%, 0, 0);
  position: absolute;
  width: 100%;
}

.slide-prev-enter,
.slide-prev-enter-from,
.slide-next-leave-to {
  transform: translate3d(100%, 0, 0);
  position: absolute;
  width: 100%;
}

.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-up-leave-to,
.slide-down-enter {
  transform: translate3d(0, -100%, 0);
  position: absolute;
  height: 100%;
}

.slide-up-enter,
.slide-up-enter-from,
.slide-down-leave-to {
  transform: translate3d(0, 100%, 0);
  position: absolute;
  height: 100%;
}

.slide-enter-active {
  transition: 150ms ease-out;
}

.slide-leave-active {
  transition: 150ms ease-out;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

*, :after, :before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.o-noscroll {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.o-clipped {
  overflow: hidden;
}

/* @docs */
/* @docs */
.o-acp {
  position: relative;
}
.o-acp__menu {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: auto;
}
.o-acp__menu--top {
  top: auto;
  bottom: 100%;
}
.o-acp__item {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.o-acp__item-group-title {
  pointer-events: none;
}
.o-acp--expanded {
  width: 100%;
}

/* @docs */
/* @docs */
.o-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* REMOVE ON LITE */
  /* ----- */
}
.o-btn__wrapper {
  margin-left: -0.1875em;
  margin-right: -0.1875em;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.o-btn__wrapper > * {
  margin-left: 0.1875em;
  margin-right: 0.1875em;
}
.o-btn--expanded {
  width: 100%;
}
.o-btn--disabled {
  cursor: not-allowed;
}
.o-btn--primary {
  border-color: transparent;
}
.o-btn--primary:hover {
  filter: brightness(97.5%);
}
.o-btn--danger {
  border-color: transparent;
}
.o-btn--danger:hover {
  filter: brightness(97.5%);
}
.o-btn--warning {
  border-color: transparent;
}
.o-btn--warning:hover {
  filter: brightness(97.5%);
}
.o-btn--success {
  border-color: transparent;
}
.o-btn--success:hover {
  filter: brightness(97.5%);
}
.o-btn--info {
  border-color: transparent;
}
.o-btn--info:hover {
  filter: brightness(97.5%);
}
.o-btn--outlined {
  background-color: transparent;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-btn--outlined:hover {
  border-color: transparent;
}
.o-btn--outlined-primary {
  background-color: transparent;
}
.o-btn--outlined-primary:hover {
  border-color: transparent;
}
.o-btn--outlined-danger {
  background-color: transparent;
}
.o-btn--outlined-danger:hover {
  border-color: transparent;
}
.o-btn--outlined-warning {
  background-color: transparent;
}
.o-btn--outlined-warning:hover {
  border-color: transparent;
}
.o-btn--outlined-success {
  background-color: transparent;
}
.o-btn--outlined-success:hover {
  border-color: transparent;
}
.o-btn--outlined-info {
  background-color: transparent;
}
.o-btn--outlined-info:hover {
  border-color: transparent;
}
.o-btn--inverted {
  /* REMOVE ON LITE */
  /* --- */
}
.o-btn--inverted:hover {
  filter: brightness(95%);
}
.o-btn--inverted-primary:hover {
  filter: brightness(95%);
}
.o-btn--inverted-danger:hover {
  filter: brightness(95%);
}
.o-btn--inverted-warning:hover {
  filter: brightness(95%);
}
.o-btn--inverted-success:hover {
  filter: brightness(95%);
}
.o-btn--inverted-info:hover {
  filter: brightness(95%);
}

/* @docs */
/* @docs */
.o-chk {
  outline: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-chk__check {
  outline: none;
  margin: 0;
  vertical-align: top;
  background-position: center;
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  flex-shrink: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  border-style: solid;
  transition-property: background;
}
.o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--primary .o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--primary .o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--danger .o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--danger .o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--warning .o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--warning .o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--success .o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--success .o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--info .o-chk__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 234 225' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(3.13817,0,0,3.13817,-69.2796,-49.5156)'%3E%3Cpath style='fill:' d='M22.504,26.219L28.637,32.386L39.494,18.284L37.348,16.379L28,27.725L24.46,24.196L22.504,26.219Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.o-chk--info .o-chk__check--indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 417 417' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3E%3Cg transform='matrix(6.96176,0,0,20.5682,-118.661,-806.753)'%3E%3Cpath style='fill:' d='M31.265,41.654C31.265,41.324 30.474,41.057 29.5,41.057L18.953,41.057C17.979,41.057 17.188,41.324 17.188,41.654C17.188,41.984 17.979,42.252 18.953,42.252L29.5,42.252C30.474,42.252 31.265,41.984 31.265,41.654Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* @docs */
/* @docs */
.o-clps__trigger {
  cursor: pointer;
}
.o-clps__content {
  display: inherit;
}

.o-dpck {
  /* REMOVE ON LITE */
}
.o-dpck__box {
  display: block;
  position: relative;
  outline: none;
}
.o-dpck__header__buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  /* REMOVE ON LITE */
}
.o-dpck__header__previous, .o-dpck__header__next {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-dpck__header__previous:hover, .o-dpck__header__next:hover {
  text-decoration: none;
}
.o-dpck__header__previous {
  order: 2;
}
.o-dpck__header__next {
  order: 3;
}
.o-dpck__header__list {
  order: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.o-dpck__table {
  display: table;
  margin: 0 auto 0 auto;
}
.o-dpck__table__head {
  display: table-header-group;
}
.o-dpck__table__body {
  display: table-row-group;
}
.o-dpck__table__row {
  display: table-row;
}
.o-dpck__table__cell {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.o-dpck__table__cell--invisible {
  visibility: hidden;
}
.o-dpck__table__cell--events {
  position: relative;
}
.o-dpck__table__events {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15%;
}
.o-dpck__table__event--primary {
  background-color: #445e00;
}
.o-dpck__table__event--danger {
  background-color: #b60000;
}
.o-dpck__table__event--warning {
  background-color: #f4c300;
}
.o-dpck__table__event--success {
  background-color: #006724;
}
.o-dpck__table__event--info {
  background-color: #005c98;
}
.o-dpck__table__event--dots {
  border-radius: 50%;
}
.o-dpck__table__event--bars {
  width: 100%;
}
.o-dpck--mobile .o-dpck__header__previous, .o-dpck--mobile .o-dpck__header__previous {
  flex-grow: 1;
  flex-shrink: 1;
}
.o-dpck--mobile .o-dpck__header__previous {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
}
.o-dpck--mobile .o-dpck__header__next {
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
}
.o-dpck--mobile .o-dpck__header__list {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
}
.o-dpck .o-drop {
  width: 100%;
}

/* @docs */
/* @docs */
.o-drop {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}
.o-drop--inline {
  display: inline;
}
.o-drop--inline .o-drop__menu {
  position: static;
  display: inline-block;
  padding: 0;
}
.o-drop__overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  display: none;
}
.o-drop__trigger {
  width: 100%;
}
.o-drop__menu {
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
}
.o-drop__menu--top-left {
  top: auto;
  bottom: 100%;
  right: 0;
  left: auto;
}
.o-drop__menu--bottom-left {
  right: 0;
  left: auto;
}
.o-drop__menu--top-right {
  top: auto;
  bottom: 100%;
}
.o-drop__item {
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
}
.o-drop__item--disabled {
  pointer-events: none;
}
.o-drop--expanded {
  width: 100%;
}
.o-drop--expanded .o-drop__menu {
  width: 100%;
}
.o-drop--disabled {
  pointer-events: none;
}
.o-drop--mobile .o-drop__menu {
  position: fixed;
  top: 25%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate3d(-50%, -25%, 0);
  overflow-y: auto;
}
.o-drop--mobile .o-drop__overlay {
  display: block;
}

/* @docs */
/* @docs */
.o-field__label {
  display: block;
  /* REMOVE ON LITE */
  /* --- */
}
.o-field__message {
  display: block;
  /* REMOVE ON LITE */
  /* --- */
}
.o-field--addons {
  display: flex;
  justify-content: flex-start;
  /* REMOVE ON LITE */
  /* -- */
}
.o-field--addons > *:first-child:not(:only-child) button,
.o-field--addons > button:first-child,
.o-field--addons > *:first-child:not(:only-child) input,
.o-field--addons > input:first-child,
.o-field--addons > *:first-child:not(:only-child) select,
.o-field--addons > select:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.o-field--addons > *:last-child:not(:only-child) button,
.o-field--addons > button:last-child,
.o-field--addons > *:last-child:not(:only-child) input,
.o-field--addons > input:last-child,
.o-field--addons > *:last-child:not(:only-child) button,
.o-field--addons > select:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.o-field--addons > *:not(:first-child):not(:last-child) button,
.o-field--addons > button:not(:first-child):not(:last-child),
.o-field--addons > *:not(:first-child):not(:last-child) input,
.o-field--addons > input:not(:first-child):not(:last-child),
.o-field--addons > *:not(:first-child):not(:last-child) select,
.o-field--addons > select:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.o-field--grouped {
  display: flex;
  margin-left: -0.37rem;
  margin-right: -0.37rem;
}
.o-field--grouped > * {
  margin-left: 0.37rem;
  margin-right: 0.37rem;
}
.o-field--grouped-multiline {
  flex-wrap: wrap;
}
.o-field__horizontal-body {
  display: flex;
  flex-basis: 0;
  flex-grow: 5;
  flex-shrink: 1;
  margin-left: -0.37rem;
  margin-right: -0.37rem;
}
.o-field__horizontal-body > * {
  margin-left: 0.37rem;
  margin-right: 0.37rem;
}
.o-field--horizontal {
  display: flex;
}
.o-field__horizontal-label {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 1.5rem 0 0;
  text-align: right;
}
.o-field--mobile .o-field__horizontal-body {
  all: unset;
}
.o-field--mobile.o-field--horizontal {
  all: unset;
}
.o-field--mobile .o-field__horizontal-label {
  all: unset;
}

/* @docs */
/* @docs */
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.o-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: transform 150ms ease-out, opacity 300ms ease-out;
  /* REMOVE ON LITE */
  /* --- */
}
.o-icon--clickable {
  pointer-events: auto;
  cursor: pointer;
}
.o-icon--spin {
  animation-name: icon-spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* @docs */
/* @docs */
.o-ctrl-input {
  position: relative;
}
.o-ctrl-input--expanded {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.o-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  outline: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-input__textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  resize: vertical;
  /* REMOVE ON LITE */
  /* --- */
}
.o-input__counter {
  display: block;
  float: right;
}
.o-input__icon-left, .o-input__icon-right {
  position: absolute;
  top: 0;
}
.o-input__icon-right {
  right: 0;
}
.o-input__icon-left {
  left: 0;
}

/* @docs */
/* @docs */
.o-load {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.o-load--fullpage {
  position: fixed;
}
.o-load__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* @docs */
/* @docs */
.o-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.o-modal__overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.o-modal__content {
  position: relative;
  max-height: calc(100vh - 160px);
  overflow: auto;
}
.o-modal__content--full-screen {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: 0;
}
.o-modal__close {
  background: none;
  position: fixed;
  border: none;
  display: inline-block;
  outline: none;
  vertical-align: top;
}
.o-modal--mobile .o-modal__content {
  width: 100%;
}

/* @docs */
/* @docs */
.o-pag {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  /* REMOVE ON LITE */
}
.o-pag__link {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-pag__link--disabled {
  pointer-events: none;
}
.o-pag__link--current {
  pointer-events: none;
}
.o-pag__link:hover {
  text-decoration: none;
}
.o-pag__ellipsis {
  justify-content: center;
  text-align: center;
  pointer-events: none;
}
.o-pag--simple {
  justify-content: normal;
}
.o-pag--centered {
  justify-content: center;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-pag--centered .o-pag__previous {
  order: 1;
}
.o-pag--centered .o-pag__next {
  order: 3;
}
.o-pag--centered .o-pag__list {
  justify-content: center;
  order: 2;
}
.o-pag--right {
  justify-content: flex-end;
  /* REMOVE ON LITE */
  /* --- */
}
.o-pag--right .o-pag__previous {
  order: 1;
}
.o-pag--right .o-pag__next {
  order: 2;
}
.o-pag--right .o-pag__list {
  justify-content: flex-end;
  order: 2;
}
.o-pag__next {
  order: 3;
}
.o-pag__previous {
  order: 2;
}
.o-pag__list {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}
.o-pag--mobile {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.o-pag--mobile .o-pag__link {
  flex-grow: 1;
  flex-shrink: 1;
}
.o-pag--mobile .o-pag__previous {
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
}
.o-pag--mobile .o-pag__next {
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
}
.o-pag--mobile .o-pag__ellipsis {
  flex-grow: 1;
  flex-shrink: 1;
}
.o-pag--mobile .o-pag__list {
  order: 0;
}

/* @docs */
/* @docs */
.o-radio {
  outline: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-radio__check {
  margin: 0;
  vertical-align: top;
  outline: none;
  background-position: center;
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  transition-property: background;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:transparent;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--primary .o-radio__check {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--primary .o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--danger .o-radio__check {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--danger .o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--warning .o-radio__check {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--warning .o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--success .o-radio__check {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--success .o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--info .o-radio__check {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(10.1032,0,0,10.1032,-255.068,-313.298)'%3E%3Ccircle cx='30.195' cy='35.959' r='4.85' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}
.o-radio--info .o-radio__check--checked {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(4.38544,0,0,4.38544,-94.4336,-58.9876)'%3E%3Cpath d='M32.935,13.679C39.102,13.679 44.108,18.685 44.108,24.852C44.108,31.019 39.102,36.025 32.935,36.025C26.768,36.025 21.761,31.019 21.761,24.852C21.761,18.685 26.768,13.679 32.935,13.679ZM32.798,17.05C37.105,17.05 40.601,20.546 40.601,24.852C40.601,29.158 37.105,32.655 32.798,32.655C28.492,32.655 24.996,29.158 24.996,24.852C24.996,20.546 28.492,17.05 32.798,17.05Z' style='fill:;'/%3E%3Ccircle cx='32.84' cy='24.8' r='7.9' style='fill:;'/%3E%3C/g%3E%3C/svg%3E");
}

/* @docs */
/* @docs */
.o-ctrl-sel {
  display: inline-flex;
  position: relative;
}
.o-ctrl-sel--expanded {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.o-sel {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-sel--multiple {
  height: auto;
  padding: 0;
}
.o-sel__icon-left, .o-sel__icon-right {
  position: absolute;
  top: 0;
  pointer-events: none;
}
.o-sel__icon-right {
  right: 0;
}
.o-sel__icon-left {
  left: 0;
}

/* @docs */
/* @docs */
@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.o-sklt {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;
}
.o-sklt__item {
  width: 100%;
  /* REMOVE ON LITE */
  /* --- */
}
.o-sklt__item--animated {
  background-size: 400% 100%;
  animation-name: skeleton-loading;
  animation-iteration-count: infinite;
}
.o-sklt__item::after {
  content: " ";
}
.o-sklt--centered {
  align-items: center;
}
.o-sklt--right {
  align-items: flex-end;
}

/* @docs */
/* @docs */
.o-side__content {
  /* REMOVE ON LITE */
  /* ---- */
}
.o-side__content--fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.o-side__content--absolute {
  position: absolute;
  left: 0;
  top: 0;
}
.o-side__content--right {
  left: auto;
  right: 0;
}
.o-side__content--mini-expand:hover {
  transition: width;
}
.o-side__content--static {
  position: static;
}
.o-side__content--absolute, .o-side__content--static {
  transition: width 150ms ease-out;
}
.o-side__content--fullwidth {
  width: 100%;
  max-width: 100%;
}
.o-side__content--fullheight {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.o-side__content--hidden-mobile {
  width: 0;
  height: 0;
  overflow: hidden;
}
.o-side__content--fullwidth-mobile {
  width: 100%;
  max-width: 100%;
}
.o-side__overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

/* @docs */
/* @docs */
.o-slide {
  width: 100%;
  /* REMOVE ON LITE */
  /* --- */
}
.o-slide__thumb--dragging {
  cursor: grabbing;
  filter: brightness(0.8);
}
.o-slide__track {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.o-slide__fill {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* REMOVE ON LITE */
  /* --- */
}
.o-slide .o-slide__tick-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.o-slide--small .o-slide__tick-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.o-slide--medium .o-slide__tick-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.o-slide--large .o-slide__tick-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.o-slide__tick {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
.o-slide__tick--hidden {
  background: transparent;
}
.o-slide__thumb-wrapper {
  display: inline-flex;
  align-items: center;
  position: absolute;
  cursor: grab;
  transform: translate(-50%, -50%);
  top: 50%;
  flex-direction: column;
}
.o-slide--disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/* @docs */
/* @docs */
.o-steps {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-steps .o-steps__title {
  text-align: center;
  z-index: 1;
}
.o-steps .o-steps__wrapper-vertical .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps .o-steps__wrapper-vertical.o-steps__wrapper-position-right .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--small .o-steps__title {
  text-align: center;
  z-index: 1;
}
.o-steps--small .o-steps__wrapper-vertical .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--small .o-steps__wrapper-vertical.o-steps__wrapper-position-right .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--medium .o-steps__title {
  text-align: center;
  z-index: 1;
}
.o-steps--medium .o-steps__wrapper-vertical .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--medium .o-steps__wrapper-vertical.o-steps__wrapper-position-right .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--large .o-steps__title {
  text-align: center;
  z-index: 1;
}
.o-steps--large .o-steps__wrapper-vertical .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps--large .o-steps__wrapper-vertical.o-steps__wrapper-position-right .o-steps--label-left .o-steps__divider {
  left: auto;
}
.o-steps__nav-item {
  margin: 0;
  padding: 0;
  margin-top: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 1em;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-steps__nav-item--primary.o-steps__nav-item-active .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #445e00 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--primary.o-steps__nav-item-previous .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #445e00 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--danger.o-steps__nav-item-active .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #b60000 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--danger.o-steps__nav-item-previous .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #b60000 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--warning.o-steps__nav-item-active .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #f4c300 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--warning.o-steps__nav-item-previous .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #f4c300 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--success.o-steps__nav-item-active .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #006724 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--success.o-steps__nav-item-previous .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #006724 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--info.o-steps__nav-item-active .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #005c98 50%);
  background-size: 200% 100%;
}
.o-steps__nav-item--info.o-steps__nav-item-previous .o-steps__divider {
  background: linear-gradient(to left, #dbdbdb 50%, #005c98 50%);
  background-size: 200% 100%;
}
.o-steps__divider {
  /* REMOVE ON LITE */
  background: linear-gradient(to left, #dbdbdb 50%, #445e00 50%);
  /* ---- */
  background-size: 200% 100%;
  background-position: right bottom;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 100%;
}
.o-steps__content {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.o-steps__content-transitioning {
  overflow: hidden;
}
.o-steps--animated {
  /* REMOVE ON LITE */
  /* --- */
}
.o-steps--animated .o-steps__divider {
  transition-property: background;
}
.o-steps__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}
.o-steps__link-label-right {
  flex-direction: row;
}
.o-steps__link-label-left {
  flex-direction: row-reverse;
}
.o-steps__link:hover {
  text-decoration: none;
}
.o-steps__link:not(.o-steps__link-clickable) {
  cursor: not-allowed;
}
.o-steps__marker {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.o-steps__details {
  text-align: center;
  z-index: 1;
}
.o-steps__nav-item-active .o-steps__link {
  cursor: default;
}
.o-steps__nav-item-active .o-steps__divider {
  background-position: left bottom;
}
.o-steps__nav-item-previous .o-steps__divider {
  background-position: left bottom;
}
.o-steps__item {
  flex-shrink: 0;
  flex-basis: auto;
}
.o-steps__wrapper-vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.o-steps__wrapper-vertical .o-steps {
  height: 100%;
  flex-direction: column;
}
.o-steps__wrapper-vertical .o-steps__divider {
  height: 100%;
  top: -50%;
  left: calc(50% - 0.1em);
}
.o-steps__wrapper-vertical .o-steps__item-active .o-steps__divider, .o-steps__wrapper-vertical .o-steps__item-previous .o-steps__divider {
  background-position: right top;
}
.o-steps__wrapper-vertical .o-steps__nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* REMOVE ON LITE */
  /* --- */
}
.o-steps__wrapper-vertical .o-steps__nav-item--primary .o-steps__divider {
  background: linear-gradient(to top, #dbdbdb 50%, #445e00 50%);
  background-size: 100% 200%;
  background-position: left bottom;
}
.o-steps__wrapper-vertical .o-steps__nav-item--danger .o-steps__divider {
  background: linear-gradient(to top, #dbdbdb 50%, #b60000 50%);
  background-size: 100% 200%;
  background-position: left bottom;
}
.o-steps__wrapper-vertical .o-steps__nav-item--warning .o-steps__divider {
  background: linear-gradient(to top, #dbdbdb 50%, #f4c300 50%);
  background-size: 100% 200%;
  background-position: left bottom;
}
.o-steps__wrapper-vertical .o-steps__nav-item--success .o-steps__divider {
  background: linear-gradient(to top, #dbdbdb 50%, #006724 50%);
  background-size: 100% 200%;
  background-position: left bottom;
}
.o-steps__wrapper-vertical .o-steps__nav-item--info .o-steps__divider {
  background: linear-gradient(to top, #dbdbdb 50%, #005c98 50%);
  background-size: 100% 200%;
  background-position: left bottom;
}
.o-steps__wrapper-vertical .o-steps__content {
  flex-grow: 1;
  flex-basis: 70%;
}
.o-steps__wrapper-vertical .o-steps__navigation {
  flex-basis: 100%;
}
.o-steps__wrapper-vertical.o-steps__wrapper-position-right {
  flex-direction: row-reverse;
}
.o-steps--mobile .o-steps__title {
  display: none;
  padding: 0;
}
.o-steps--mobile .o-steps__details {
  padding: 0;
}

/* @docs */
/* @docs */
.o-switch {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-switch__wrapper {
  margin-left: -0.25em;
  margin-right: -0.25em;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.o-switch__wrapper > * {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.o-switch__wrapper--left {
  flex-direction: row-reverse;
}
.o-switch__check-switch {
  content: "";
  display: block;
  transition-property: transform;
  will-change: transform;
  transform-origin: left;
}
.o-switch__check {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition-property: background;
}
.o-switch__check--checked .o-switch__check-switch {
  transform: translate3d(100%, 0, 0);
}
.o-switch input[type=checkbox] {
  position: absolute;
  left: 0;
  opacity: 0;
  outline: none;
  z-index: -1;
}
/* @docs */
/* @docs */
.o-table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.o-table__wrapper {
  transition: opacity 300ms ease-out;
  position: relative;
}
.o-table__wrapper--sticky-header {
  overflow-y: auto;
}
.o-table__wrapper--scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
}
.o-table__wrapper--mobile {
  overflow-x: auto;
}
.o-table__wrapper--mobile .o-table__mobile-sort {
  display: block;
}
.o-table__wrapper--mobile .o-table {
  background-color: transparent;
}
.o-table__wrapper--mobile thead tr {
  box-shadow: none;
  border-width: 0;
}
.o-table__wrapper--mobile thead tr th {
  display: none;
}
.o-table__wrapper--mobile thead tr .o-table-th-checkbox {
  display: block;
  width: 100%;
  text-align: right;
  border: 0;
}
.o-table__wrapper--mobile tfoot th {
  border: 0;
  display: inherit;
}
.o-table__wrapper--mobile tr {
  max-width: 100%;
  position: relative;
  display: block;
}
.o-table__wrapper--mobile tr td {
  border: 0;
  display: inherit;
}
.o-table__wrapper--mobile tr td:last-child {
  border-bottom: 0;
}
.o-table__wrapper--mobile tr:not(.o-table__tr--selected) {
  background: inherit;
  background: #fff;
}
.o-table__wrapper--mobile tr:not(.o-table__tr--selected):hover {
  background-color: inherit;
  background-color: #fff;
}
.o-table__wrapper--mobile tr:not(.o-table--detailed):not(.o-table--empty):not(.o-table__footer) td {
  display: flex;
  width: auto;
  justify-content: space-between;
  text-align: right;
}
.o-table__wrapper--mobile tr:not(.o-table--detailed):not(.o-table--empty):not(.o-table__footer) td:before {
  content: attr(data-label);
}
.o-table__mobile-sort {
  display: none;
}
.o-table__th {
  vertical-align: top;
  text-align: left;
  position: relative;
}
.o-table__th--centered {
  text-align: center;
}
.o-table__th--right {
  text-align: right;
}
.o-table__th__sort-icon {
  position: absolute;
  right: 0;
}
.o-table__th--sortable {
  cursor: pointer;
}
.o-table__th--sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}
.o-table__th--unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.o-table__td {
  vertical-align: top;
  text-align: left;
}
.o-table__td--sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.o-table__td--right {
  text-align: right;
}
.o-table__td--centered {
  text-align: center;
}
.o-table__td-chevron {
  vertical-align: middle;
}
.o-table__tr--selected {
  background-color: #445e00;
  color: #ffffff;
}
.o-table__tr--selected-primary {
  background-color: #445e00;
  color: #ffffff;
}
.o-table__tr--selected-danger {
  background-color: #b60000;
  color: #ffffff;
}
.o-table__tr--selected-warning {
  background-color: #f4c300;
  color: #000000;
}
.o-table__tr--selected-success {
  background-color: #006724;
  color: #ffffff;
}
.o-table__tr--selected-info {
  background-color: #005c98;
  color: #ffffff;
}
.o-table__pagination {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.o-table__pagination > div:first-child {
  align-items: center;
  justify-content: flex-start;
}
.o-table__pagination > div:last-child {
  align-items: center;
  justify-content: flex-end;
}
.o-table__pagination > div:last-child > div {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.o-table__pagination > div {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

/* @docs */
/* @docs */
.o-tabs {
  /* REMOVE ON LITE */
  /* --- */
}
.o-tabs--fullwidth {
  width: 100%;
}
.o-tabs--fullwidth .o-tabs__nav-item-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
}
.o-tabs--fullwidth .o-tabs__nav-item-default, .o-tabs--fullwidth .o-tabs__nav-item-boxed, .o-tabs--fullwidth .o-tabs__nav-item-toggle {
  height: 100%;
}
.o-tabs--vertical {
  display: flex;
  flex-direction: row;
}
.o-tabs--vertical .o-tabs__nav {
  flex-direction: column;
  align-items: stretch;
  flex-grow: 0;
  border-bottom: none;
}
.o-tabs--vertical .o-tabs__nav-item-boxed {
  border-bottom-color: transparent;
}
.o-tabs--vertical .o-tabs__nav-item-boxed--active {
  border-right-color: transparent;
}
.o-tabs--right {
  flex-direction: row-reverse;
}
.o-tabs--right .o-tabs__nav-item-boxed {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.o-tabs--right .o-tabs__nav-item-boxed--active {
  border-left-color: transparent;
}
.o-tabs__nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-tabs__nav--centered {
  justify-content: center;
}
.o-tabs__nav--right {
  justify-content: flex-end;
}
.o-tabs__nav-item-default {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  align-items: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-tabs__nav-item-default--disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.o-tabs__nav-item-boxed {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  align-items: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  border-bottom-color: transparent;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-tabs__nav-item-boxed--disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.o-tabs__nav-item-toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  align-items: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0;
  position: relative;
  /* REMOVE ON LITE */
  /* ---- */
}
.o-tabs__nav-item-toggle--disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.o-tabs__content {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.o-tabs__content--transitioning {
  overflow: hidden;
}
/* @docs */
/* @docs */
.o-tip {
  position: relative;
  display: inline-flex;
}
.o-tip__arrow--top {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  border-top-style: solid;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-style: solid;
  border-left-color: transparent;
}
.o-tip__content--top {
  top: auto;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.o-tip__arrow--right {
  top: 50%;
  right: 100%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
  border-right-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.o-tip__content--right {
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translateY(-50%);
}
.o-tip__arrow--bottom {
  top: auto;
  right: auto;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-style: solid;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-style: solid;
  border-left-color: transparent;
}
.o-tip__content--bottom {
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}
.o-tip__arrow--left {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 100%;
  transform: translateY(-50%);
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.o-tip__content--left {
  top: 50%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
}
.o-tip__arrow {
  position: absolute;
  content: "";
  pointer-events: none;
  /* REMOVE ON LITE */
  /* --- */
}
.o-tip__content {
  position: absolute;
  white-space: nowrap;
  /* REMOVE ON LITE */
  /* --- */
}
.o-tip__content--always {
  opacity: 1;
  visibility: visible;
}
.o-tip__content--multiline {
  text-align: center;
  white-space: normal;
}
.o-tip__trigger {
  width: 100%;
}

/* @docs */
/* @docs */
.o-upl {
  position: relative;
  display: inline-flex;
}
.o-upl--disabled {
  cursor: not-allowed;
}
.o-upl--expanded {
  width: 100%;
}
.o-upl__draggable {
  cursor: pointer;
  width: 100%;
}
.o-upl__draggable--hovered {
  /* REMOVE ON LITE */
  /* ---- */
}
.o-upl input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: pointer;
  z-index: -1;
}
