/* Button */

.btn {
  @apply font-bold py-2 px-4 text-highlight bg-highlight-background dark:text-highlight-dark dark:bg-highlight-background-dark rounded;
}


/* Field */

.field-label {
  @apply block text-sm font-bold mb-2 text-main dark:text-main-dark;
}

.field-danger {
  @apply text-red-500;
}


/* Input */

.input {
  @apply shadow appearance-none border w-full py-2 px-3 leading-tight text-main dark:text-main-dark dark:bg-main;
}

.input-danger {
  @apply border-highlight;
}


/* Switch */

.switch {
  @apply bg-black dark:bg-highlight-dark;
}

.switch-label {
  @apply hidden;
}

/* Dropdown */

.dropdown-menu {
  @apply shadow-lg rounded-sm z-10 bg-main-dark text-main dark:text-main-dark dark:bg-main z-50;
}

.dropdown-item {
  @apply cursor-pointer text-main dark:text-main-dark dark:bg-main;
}

.dropdown-item-active {
  @apply text-highlight bg-highlight-background dark:text-highlight-dark dark:bg-highlight-background-dark;
}


/* Loading */

.loading-background {
  @apply bg-gray-50 dark:bg-gray-700 opacity-75;
}


/* Radio */

.radio {
  @apply font-bold py-2 px-4 rounded text-main dark:text-main-dark;
  min-width: 6rem;
}

.radio-check {
  @apply hidden;
}

.radio-checked {
  @apply text-highlight bg-highlight-background dark:text-highlight-dark dark:bg-highlight-background-dark;
}

.radio-label {
  @apply w-full text-center p-0;
}
